---
layout: "page"
---

<img src="{{ page.partner.image }}" alt="{{ page.partner.name }}" style="width: 450px; height: 312px;" /><br/>

{{ content }}

<p> 
    <a href="{{ page.partner.url }}">{{ page.partner.url }}</a>
</p>

<table class="no-border">
    <tbody>
        <tr>
            <td>
                <a href="http://www.citygas.com.sg/"><img alt="City Gas" src="/images/partners/City_Gas.jpg"></a>
             </td>
             <td>
                <a href="http://www.kepinfra.com/"><img alt="Keppel Infrastructure" src="/images/partners/keppel_infrastructure.jpg"></a>
             </td>
             <td>
                <a href="http://www.pacificlight.com.sg/"><img alt="PacificLight Power" src="/images/partners/pacific_light.jpg"></a>
             </td>
        </tr>
        <tr>
            <td>
                <a href="http://www.senokoenergy.com/"><img alt="Senoko Energy" src="/images/partners/senoko_new.jpg"></a>
             </td>
             <td>
                <a href="http://www.sembcorp.com/"><img alt="Sembcorp Industries" src="/images/partners/sembcorp.jpg"></a>
             </td>
             <td>
                <a href="https://www.spgroup.com.sg/"><img alt="Singapore Power" src="/images/partners/singapore_power.png"></a>
             </td>
        </tr>
        <tr>
            <td>
                <a href="http://www.slng.com.sg/"><img alt="Singapore LNG Corporation" src="/images/partners/singapore_lng_corporation.jpg"></a>
             </td>
             <td>
                <a href="http://www.tuaspower.com.sg/"><img alt="Tuas Power" src="/images/partners/tuas_power.jpg"></a>
             </td>
             <td>
                <a href="http://www.ytlpowerseraya.com/"><img alt="YTL PowerSeraya" src="/images/partners/ytl_power_seraya.jpg"></a>
             </td>
        </tr>
    </tbody>
</table>